<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
  </system.web>
  
  <system.webServer>
        <httpErrors errorMode="Detailed" />
       <!-- <asp scriptErrorSentToBrowser="true"/>-->
    </system.webServer>
  
   <system.web>
        <customErrors mode="Off"/>
        <!--<compilation debug="true"/>-->
    </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
  </system.webServer>
  
<!--for database-->
  
  <appSettings>
    <!-- Set to your Google project id as shown on the Google Developers Console -->
    <add key="GoogleCloudSamples:ProjectId" value="hardy-album-164320" />
    <!--
    Set to either mysql, sqlserver or datastore.
    If using mysql or sqlserver, update the connectionString far below, and then run Add-Migration Init; Update-Database 
    in the Package Manager Console.
    -->
    <add key="GoogleCloudSamples:sqlserver" value="datastore" />
    <add key="GoogleCloudSamples:BucketName" value="comp306-a1" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>

  
  <!--For Image in cloud Bucket storage-->
  <appSettings>
   <!--Set to your Google project id as shown on the Google Developers Console-->
    <add key="GoogleCloudSamples:ProjectId" value="hardy-album-164320" />
    
    <!--Set to either mysql, sqlserver or datastore.
    If using mysql or sqlserver, update the connectionString far below, and then run Add-Migration Init; Update-Database
    in the Package Manager Console.-->
    
    <add key="GoogleCloudSamples:sqlserver" value="datastore" />
    <!-- Set to your Google Cloud Storage bucket--> 
    <add key="GoogleCloudSamples:BucketName" value="bucketTest" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  
  
  
  <connectionStrings>
    <!--<remove name="local306"/>
    <add name="local306" providerName="System.Data.SqlClient" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=COMP306_300904573;Integrated Security=True"/>-->

    <remove name="LocalMySqlServer" />
    <add name="LocalMySqlServer" connectionString="Server=104.196.225.192;Database=COMP306_300904573;Uid=dotnetapp;Pwd=dotnetapp" providerName="MySql.Data.MySqlClient" />
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" providerName="System.Data.SqlClient" connectionString="Data Source=104.196.225.192;Initial Catalog=COMP306_300904573;Integrated Security=False;User Id=dotnetapp;Password=dotnetapp;MultipleActiveResultSets=True" />
  </connectionStrings>
  
 
</configuration>