
body {
 
    /*background-image: url('../IMAGES/body3.jpg');*/
    /*background-image: url(https://storage.googleapis.com/comp306-a1/body3.jpg);*/
    background-repeat:no-repeat;
    background-size:cover;
}
#wrapper
{
    width : 1080px;
    margin:0 auto;
    padding:10px;
    /*border:5px solid;*/
    /*background-color:#ffffff;*/
}
#banner
 {
    background-image: url('../IMAGES/body3.jpg');
    height: 200px;
    /*border: 3px solid #dedede;*/
    font: 400 bold italic arial;
    font-size: 60px;
}
#navigation
{
    height : 60px;
    margin-top : 20px;
}
#nav
{
    list-style : none;
}
#nav ul
{
    list-style : none;
    margin : 0;
    padding : 0;
    width :auto;
    display : none;
}
#nav li
{
    font-size : 24px;
    float : left;
    position : relative;
    width : 180px;
    height : 50px;
}
#nav a:link, #nav a:active, #nav a:visited
{
    /*display : block;*/
    color : #000000;
    text-decoration : none;
}
#nav a:hover
{
    color : lightblue;
}
#contant_area
{
    float:left;
    width:1050px;
    margin:20px 0 20px 0;
    padding:10px;
    /*border:3px solid #dedede;*/ 
}
#sidebar
{
    float:right;
    width:250px;
    height:400px;
    margin:20px 10px 20px 10px;
    /*border:3px solid #dedede;*/
}
#footer
{
    clear:both;
    width:1050px;
    height:200px;
    margin:20px 10px 20px 10px;
    /*border:3px solid #dedede;*/
    font-size:30px;
}

